{% load static %} 

<footer>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <div class="navbar-brand navbar-brand-bottom">
                    <img src="{% static 'images/logo_msk_metro.png' %}" width="75" height="75" border="0">
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <p style="color:#BBBBBB">ГУП Московский Метрополитен</p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>